.page-base {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0 10px;
}

.page-first {
    margin-top: 15vh;
}

.page-full {
    height: 70vh;
}

.page-fixed-height-medium {
    height: 40vh;
}

.page-fixed-height-small {
    height: 20vh;
}

.left-header-page {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    min-height: 20vh;
}

.left-header-fill {
    flex: 1;
}

.left-header-text {
    margin: 0;
    padding: 0;
    writing-mode: vertical-lr;
    user-select: none;
}

.left-header-text-wrap {
    width: 50px;
    align-self: stretch;
}