.page-base {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-first {
    margin-top: 15vh;
}

.page-fixed-height-medium {
    height: 40vh;
}

.page-fixed-height-small {
    height: 20vh;
}

.left-header-page {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    min-height: 20vh;
}

.left-header-fill {
    flex: 1;
}

.left-header-text {
    rotate: -90deg;
}