.cursor-line {
    font-style: normal;
    animation: cursor-line-blink infinite 1s linear;
    user-select: none;
}

@keyframes cursor-line-blink {
    0% {
        color: #68001300;
    }
    50% {
        color: #680013;
    }
    100% {
        color: #68001300;
    }
}