.header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    height: 60px;
}

.header-over-elements {

}

.hz-flex {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.hz-flex > p {
    margin: 0;
    padding: 0;
}