.tag-container {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #FFFFFF11;
    border: #FFFFFF22 solid 1px;
    max-width: fit-content;
    border-radius: 4px;
}

.tag-container > p {
    line-height: 0px;
    margin: 5px;
    font-size: 13px;
}