.tag-container {
    padding: 7px;
    background-color: white;
    color: black;
    max-width: fit-content;
    border-radius: 4px;
}

.inverted {
    background-color: black;
    color: white;
}

.tag-container > p {
    line-height: 0px;
    margin: 5px;
    font-size: 15px;
}