html {
  scroll-behavior: smooth;
}

body {
  background: #040404;
  color: black;
}

p {
  font-weight: 400;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 90vh;
  margin: 0 auto;
}

.text-title {
  font-weight: 300;
  font-size: 48px;
}

.text-title > b {
  font-weight: 700;
}

.text-title-bold {
  font-size: 4vw;
  padding: 0;
  margin: 0;
  text-wrap: nowrap;
  color: #680013;
  font-weight: 700;
}

.animated-title {
  transition: 1s all;
}

.title-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.title-supplement {
  font-size: 1.5vw;
  padding: 0;
  margin: 0;
}

.button-primary {
  padding: 10px 35px;
  background: #680013;
  color: white;
  border-radius: 5px;
  border: none;
  font-family: Lexend, sans-serif;
  font-size: 15px;
  font-weight: 400;
  transition: 0.25s;
  transform: scale(1);
  transition-property: color, background, outline-color, transform;
}

.button-primary:hover {
  background: #9f132e;
  cursor: pointer;
}

.button-secondary {
  padding: 10px 35px;
  background: #E89893;
  color: black;
  border-radius: 5px;
  border: none;
  font-family: Lexend, sans-serif;
  font-size: 15px;
  font-weight: 400;
  transition: 0.25s;
  transform: scale(1);
  transition-property: color, background, outline-color, transform;
}

.button-secondary:hover {
  background: #f1b3af;
  cursor: pointer;
  transition: 0.25s;
  transition-property: color, background, outline-color, transform;
}

.text-field {
  background: #FFDFD5;
  padding: 5px;
  border: none;
  font-family: Lexend, sans-serif;
  font-weight: 300;
  color: #680013;
  outline: 1px solid #68001333;
}

.rounded-options-up {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.rounded-options-down {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

::selection {
  color: white;
  background-color: rgba(255, 92, 92, 0.2);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFDFD5;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #680013;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9f132e;
}

.badge {
  background: white;
  outline: #00000022 solid 1px;
  color: black;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 500;
}

.glint {
  background: linear-gradient(270deg, #ffffff, #bbbbbb, #ffcf74, #bbffab, #6d9398, #afafaf, #ffffff);
  background-size: 1400% 1400%;

  -webkit-animation: glint-animation 30s ease infinite;
  -moz-animation: glint-animation 30s ease infinite;
  animation: glint-animation 10s ease infinite;
}

h1 {
  color: #680013;
}

@-webkit-keyframes glint-animation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes glint-animation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes glint-animation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}