html {
  scroll-behavior: smooth;
}

body {
  background: #040404;
  color: white;
}

p {
  font-weight: 300;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.text-title {
  font-weight: 300;
  font-size: 48px;
}

.text-title > b {
  font-weight: 700;
}

.button-primary {
  padding: 10px 35px;
  background: linear-gradient(#FFFFFF18, #FFFFFF22);
  color: white;
  outline: 1px solid #FFFFFF33;
  border-radius: 4px;
  border: none;
  font-family: Lexend, sans-serif;
  font-size: 15px;
  font-weight: 300;
  transition: 0.25s;
  transform: scale(1);
  transition-property: color, background, outline-color, transform;
}

.button-primary:hover {
  background: linear-gradient(#FFFFFF30, #FFFFFF44);
  outline: 1px solid #FFFFFF66;
  transform: scale(1.02);
  cursor: pointer;
  transition: 0.25s;
  transition-property: color, background, outline-color, transform;
}

::selection {
  color: white;
  background-color: rgba(255, 92, 92, 0.2);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 92, 92);
}