body {
  background: #040404;
  color: white;
}

p {
  font-weight: 300;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.text-title {
  font-weight: 300;
  font-size: 48px;
}

.text-title > b {
  font-weight: 700;
}

.button-primary {
  padding: 10px 35px;
  background: #FFFFFF11;
  color: white;
  outline: 1px solid #FFFFFF33;
  border-radius: 4px;
  border: none;
  font-family: Lexend, sans-serif;
  font-size: 15px;
  font-weight: 300;
  transition: 0.25s;
  transition-property: color, background-color, outline-color;
}

.button-primary:hover {
  background: #FFFFFF22;
  outline: 1px solid #FFFFFF66;
  cursor: pointer;
  transition: 0.25s;
  transition-property: color, background-color, outline-color;
}