.icon-linkedin {
    content: url("res/icons/linkedin.svg");
    width: 32px;
    height: 32px;
    color: #3ed1ff;
    transition: 0.25s;
    transition-property: color, background, outline-color, transform;
}

.icon-linkedin:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: #3ed1ff;
    transition: 0.25s;
    transition-property: color, background, outline-color, transform;
}